* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: unset;
}

html {
    background: #31302c;
}

.headcontainer {
  padding: 1rem;
}

.headcontainer > p, .headcontainer > ul {
    font-family: 'Julius Sans One', sans-serif;
}

footer {
    padding: 1rem;
    background-color: black;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-size: 0.8rem;
    line-height: 1rem;
}

.mini-logo {
    float: left;
    width: 25px;
    padding-right: 5px;
}

main {
    justify-content: center;
    color: #f0e7cb;
    place-items: center;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

main a {
    color: #f59a28;
}

main a:hover {
    color: #9c5600;
}

section {
    margin: 1rem auto 3.5rem auto;
    padding-bottom: 2rem;
}

.section-home, .section-home3 {
    padding: 0rem 2rem 0rem 2rem;
    background: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-home > p, .section-home3 > p{
    color: #333;
}

.section-home2 {
    padding: 0rem 2rem 0rem 2rem;
}

.section-home > h2, .section-home2 > h2, .section-home2 > h3 {
    text-align: left;
}

.section-home::before, .section-home2::before {
    display: inline-flex;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 40%;  
    border-bottom: 1px solid chocolate;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    margin: 0.5rem 0;
    color: white;
}

h2:first-of-type {
    margin-top: 2.5rem;
}

h2, h3, figcaption {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
    color: #f59a28;
    text-align: center;
}

q, cite {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0.5rem 0;
    color: #f0e7cb;
}

.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}
  
.topnav a:hover {
    background-color: #f59a28;
    color: black;
}

nav {
    font-family: 'Montserrat', sans-serif;
    color: #ffde5f;
    align-content: space-around;
}

.logotype {
    max-width: 3rem;
}

.author_pic{
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
	float: left;
	margin: 1rem 1rem 1rem auto;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container {
    width: auto;
}

.box {
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background-color: rgb(255, 255, 255);
    background-image: url(img/green.jpg);
    place-items: center;
    display: flex;
    text-align: center;
    border-bottom: #f59a28 solid 5px;
    background-size: cover;
}

nav > ul > li {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

/*** BLOCKQUOTE CODE FROM https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ ***/

blockquote {
    background: #666;
    border-left: 10px solid #ffde5f;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ffde5f;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

/*** DROPDOWN MENU CODE FROM https://www.w3schools.com/howto/howto_css_dropdown.asp ***/

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown:hover .dropbtn {
    background-color: #f59a28;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f59a28;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*** VIDEO FLUID CODE FROM ANA HERNANDEZ ADEVA - PEC2 HTML Y CSS***/ 

figure {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

figcaption {
    font-size: 1rem;
    text-align: center;
}

.video-fluid {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.video-fluid-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-fluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

/*** STYLES FOR NOVELS.HTML ***/

figure {
    margin: 4rem auto;
}

figcaption {
    margin: 1rem;
}

.book-cover {
    width: 300px;
    background-color: rgb(18, 18, 19);
    box-shadow: 1px 1px 8px 0px rgb(0, 0, 0);
    margin: 10px;
    justify-self: center;
}

.book-cover img {
    height: 450px;
    width: 300px;
}

.book-cover img:hover {
    opacity: 0.5;
}

.flex-container {
    display: grid;
}

.story-list {
  columns: 2;
}

/*** STYLES FOR COLLECTIONS.HTML ***/

.background {
    background-image: url("img/header-background.jpg");
    background-size: cover;
    width: 100%;
    padding: 3rem;
    margin: 2rem 0rem 0rem 0rem;
}

.background ul {
    font-family: 'Lato', sans-serif;
    margin: 0.5rem 0;
    color: #ffe3d1;
    background-color: rgba(0,0,0,0.4);
}

.no-margin {
    text-align: center;
}

/*** BOOK PAGE STYLES ***/

.titlebox {
    margin: 0rem 20rem;
}

.keyinfo {
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    color: #333;
}

/*** TRANSITIONS CODE BY WEB DEV SIMPLIFIED https://www.youtube.com/watch?v=eVwH3VL1EsA ***/

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: bottom;
}

html.is-animating .transition-fade{
    opacity: 1;
    transform: translateY(100%);
}

html.is-leaving .transition-fade{
    opacity: 0;
    transform: translateY(0);
}

/*** TYPEWRITER ANIMATION EDITADO DE CSS TRICKS***/

.typewriter h2 {
    width: min-content;
    color: #f59a28;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid rgb(58, 58, 58); 
    white-space: nowrap; 
    margin: 2rem auto; 
    letter-spacing: .15em; 
    animation: 
      typing 5s steps(50, end),
      blink-caret .5s step-end 1;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
    100% { opacity: 0; }
}

/*** CLIP-PATH ***/

.clip-me { 
    max-width: 100px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.svg {
    width: 300px;
    align-content: center;
    display: flex;
}

.top-img {
    width: 100%;
}

/*** COVER HOVER ***/

.cover-container {
    float: right;
    margin: 2rem 2rem 1rem 2rem;
    height: 387px;
}
  
.cover-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.cover-middle {
    transition: .5s ease;
    opacity: 0;
    float: right;
    transform: translate(-20%, -700%);
    text-align: center;
}
  
.cover-container:hover .cover-image {
    opacity: 0.2;
}
  
.cover-container:hover .cover-middle {
    opacity: 0.9;
}
  
.cover-text a{
    background-color: #f59a28;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 16px 32px;
}

/*** MEDIA QUERIES ***/

@media only screen and (max-width: 565px){
    .topnav li{
        display: flex;
    }

    .story-list {
        columns: 1;
    }

}

@media only screen and (min-width: 565px){
    .logotype {
        float: left;
    }

}


@media only screen and (max-width: 815px){
    .section-home>img {
        display: flex;
        float: unset;
        place-items: center;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .section-home {
        padding: 2rem 5rem;
    }

    .section-home2 {
        padding: 2rem 5rem;
    }

    .section-home3{
        padding: 2rem 20rem;
    }
    
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .book-cover img{
        height: 450px;
        max-width: 100%;
    }

    .keyinfo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 1rem;
        font-size: 1rem;
        font-family: 'Julius Sans One', sans-serif;
        color: #333;
    }

    .svg {
        width: 400px;
    }

}

@media only screen and (min-width: 1900px) {
    .top-img {

        display: flex;
        align-content: center;
    }

    .top-img-container{
        background-color: black;
    }

    .svg {
        width: 600px;
    }
}